* {
  box-sizing: border-box;
 }


body {
  font-size: 16px;
  color: #000;
  background-color: #ffffff;
  font-family: 'Oxygen', sans-serif;
}


.box {
    overflow: auto;
    border: 1px solid black;
    height: 700px;
    background-color: grey;
    margin:20px 5px 20px 5px;

}

.content{
  clear:right;
}

.navbar{
  background-color: grey;
  border: 1px solid black;
}

.navbar-default .navbar-brand {
    color: #080808;
}

  a.navbar-brand {
    font-size: 1.5em;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #080808;
}

.navbar-default .navbar-toggle {
    border-color: #333;
}

.navbar-default .navbar-toggle {
    padding: 15px 10px;
    margin-top: 15px;
}

.navbar-default .navbar-nav>li>a{
    color: #080808;
}

.navbar-nav>li>a {
    border-bottom:1px solid black;
}

.navbar-nav>li.sushi>a{
    border-bottom: none;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #080808;
}

.bottommenu{
   vertical-align: bottom;
}

.bottommenu a {
    color: black;
    text-decoration: underline;

}


/********** Extra small devices only **********/
@media (max-width: 767px) {

   a.navbar-brand {
    font-size: 2em;
    padding: 25px;
}
  /* Header */
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 10px;
    font-size: 5vw; /* 1vw = 1% of viewport width */
  }

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #080808;
    background-color: white;
}

}
