* {
  box-sizing: border-box;
 }


body {
  font-size: 16px;
  color: #000;
  background-color: #ffffff;
  font-family: 'Oxygen', sans-serif;
}

.box {
    overflow: auto;
    border: 1px solid black;
    height: 700px;
    background-color: grey;
    margin:20px 5px 20px 5px;
}

.content{
  clear:right;
}

.navbar{
  background-color: grey;
  border: 1px solid black;
}

.navbar-default .navbar-brand {
    color: #080808;
}

  a.navbar-brand {
    font-size: 1.5em;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #080808;
}

.navbar-default .navbar-toggle {
    border-color: #333;
}

.navbar-default .navbar-toggle {
    padding: 15px 10px;
    margin-top: 15px;
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  /* Header */
  #logo-img {
    background: url('../images/restaurant-logo_medium.png') no-repeat;
    width: 100px;
    height: 100px;
    margin: 5px 5px 5px 0;
  }
  /* End Header */

  /* Home Page */
  .container .jumbotron {
    background: url('../images/jumbotron_992.jpg') no-repeat;
    height: 558px;
  }
  /* End Home Page */
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  /* Home Page */
  .container .jumbotron {
    background: url('../images/jumbotron_768.jpg') no-repeat;
    height: 432px;
  }

}

/********** Extra small devices only **********/
@media (max-width: 767px) {

   a.navbar-brand {
    font-size: 2em;
    padding: 25px;
}
  /* Header */
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 10px;
    font-size: 5vw; /* 1vw = 1% of viewport width */
  }


  /*
  .navbar-brand p { 
    font-size: .6em;
    margin-top: 12px;
  }
  .navbar-brand p img { 
    height: 20px;
  }

  #collapsable-nav a { 
    font-size: 1.2em;
  }
  #collapsable-nav a span { 
    font-size: 1em;
    margin-right: 5px;
  }

  #call-btn > a {
    font-size: 1.5em;
    display: block;
    margin: 0 20px;
    padding: 10px;
    border: 2px solid #fff;
    background-color: #f6b319;
    color: #951c49;
  }
  #xs-deliver {
    margin-top: 5px;
    font-size: .7em;
    letter-spacing: .1em;
    text-transform: uppercase;
  }
 


  .container .jumbotron {
    margin-top: 30px;
    padding: 0;
  }*/

}
